<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<%
   ads = false
 %>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/> 
    <title><%= @page_title %></title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
        
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css"/> 

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css"/> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/assets/skins/sam/skin.css"/> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/tabview/assets/skins/sam/tabview.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/fonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/datatable/assets/skins/sam/datatable.css" />
    
    <%= javascript_include_tag :defaults %>
    
    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.1/build/connection/connection-min.js"></script>

    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.1/build/element/element-beta-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.1/build/datasource/datasource-beta-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.1/build/datatable/datatable-beta-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.5.1/build/tabview/tabview-min.js"></script>

  </head>

  <body class='yui-skin-sam'>
    <div id='doc3' class='yui-t4'>
      <div id='hd'>
        <table style='width: 100%' id='leftHeader'>
          <tr>
            <td style='text-align: left'>
          <div style='padding: 0.5em'>
            <h1>Codehaus Foundation Logs</h1>
            <h2><%= @page_title %></h2>
          </div>
          </td>
          <td style='text-align: right'>
             <p><a href="/"><%= image_tag 'foci.png' %></a></p>
          </td>
        </tr>
        </table>

        
       <%= render :partial => '/layouts/top_helper' %>
    
      </div>
      
      <div id='bd'>
        <div id='yui-main'>
          <div class='yui-b'>
            <% if ads %>
            <div class='google-ad google-ad-728x90'>
              <script type="text/javascript"><!--
              google_ad_client = "pub-3023399591478482";
              google_ad_width = 728;
              google_ad_height = 90;
              google_ad_format = "728x90_as";
              google_ad_channel = "7321085054"; //unity-top
              google_color_border = "FFFFFF";
              google_color_bg = "FFFFFF";
              google_color_link = "2266cc";
              google_color_url = "2266cc";
              google_color_text = "000000";
              //--></script>
              <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
              </script>
            </div>
            <% end %>


            <h3 class="headerstyle" id="upage_title">
             <table style="width: 100%; padding-right: 2mm">
               <tr>
                 <td align="left" valign="middle"><%= @page_title %></td>
                 <td align="right" valign="middle">
              
                   <!--a id='page-comment' title="Add comment to Wiki" href="http://docs.codehaus.org/display/${space.spaceKey}/${page.pageKeyEncoded}?showComments=true&amp;showCommentArea=true#addcomment"></a>
                   <a id='page-view' title="View in Wiki" href="http://docs.codehaus.org/display/${space.spaceKey}/${page.pageKeyEncoded}"></a>
                   <a id='page-edit' title="Edit Wiki page" href="http://docs.codehaus.org/pages/editpage.action?spaceKey=${space.spaceKey}&amp;title=${page.pageKeyEncoded}"></a>
                   <a id='page-print' title="Printable Version" href="/${page.pageKeyEncoded}?print=1"></a-->
                 </td>
                </tr>
             </table>
            </h3>
        
        
            <div class="content" style="padding-top: 3mm;">
               <%= content = yield %>
            </div>
            <% if ads %>
            <div class="google-ad google-ad-728x90">
            <script type="text/javascript"><!--
            google_ad_client = "pub-3023399591478482";
            google_ad_width = 728;
            google_ad_height = 90;
            google_ad_format = "728x90_as";
            google_ad_channel ="9744516269"; //unity-bottom
            google_color_border = "FFFFFF";
            google_color_bg = "FAFAFF";
            google_color_link = "2266cc";
            google_color_url = "2266cc";
            google_color_text = "000000";
            //--></script>
            <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
            </div>
            <% end %>

        </div>
        </div>
        

      </div>

      <%= render( :partial => '/layouts/footer' ) %>
    </div>
    
  </body>
</html>







 
